{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}

    <section id="edit-account" class="text-light col-md-10 mx-auto my-5 pb-5">

        <div class="my-5">
            <a href="{{ path('app_account') }}" class="text-light">Revenir à mon compte</a>
        </div>

        {{ form(form) }}

    </section>

{% endblock %}