<section id="footer-container">
    <div class="footer-contact col-md-12 py-4" style="background-image: url('{{ asset('images/footer.jpg') }}'); background-size: cover; background-position: center">
        <div class="contact-container d-flex justify-content-between col-md-7 my-4 px-5 mx-auto">
            <div class="about-contact text-light ms-4 my-5 col-md-4 pe-4">
                <div class="contact-title h3 fw-bold">
                    <p>Horaires</p>
                </div>
                <div class="contact-opening d-flex justify-content-between">
                    <div class="contact-opening-day">
                        <ul class="list ps-0">
                            <li>Lundi</li>
                            <li>Mardi</li>
                            <li>Mercredi</li>
                            <li>Jeudi</li>
                            <li>Vendredi</li>
                            <li>Samedi</li>
                            <li>Dimanche</li>
                        </ul>
                    </div>
                    <div class="contact-opening-hours">
                        <ul class="contact- ps-0">
                            <li>Fermé</li>
                            <li>14h00 - 19h00</li>
                            <li>10h00 - 19h00</li>
                            <li>10h00 - 19h00</li>
                            <li>10h00 - 19h00</li>
                            <li>10h00 - 19h00</li>
                            <li>Fermé</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="contact-location text-light me-4 my-5">
                <div class="contact-location-title h3 fw-bold">
                    <p>Coordonnées</p>
                </div>
                <div class="contact-location-adress">
                    <ul class="list ps-0">
                        <li>12 Rue Thierry Verdier</li>
                        <li>75000 Paris</li>
                        <li>01 49 38 57 39</li>
                        <li>barbershop@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-menu-container bg-primary">
        <div class="footer-menu d-flex justify-content-between align-items-center col-md-8 py-4 mx-auto">
            <div class="menu text-light">
                <p class="text-dark h2">Menu</p>
                <ul class="list ps-0">
                    <li>Accueil</li>
                    <li>Le salon</li>
                    <li>Préstations</li>
                    <li>Réalisations</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="logo">
                <a href="#">
                    <img src="{{ asset('assets/images/logo.png') }}" alt="Logo Barbershop." width="200px">
                </a>
            </div>
            <div class="location text-light">
                <p class="text-dark h2">Coordonées</p>
                <ul class="list ps-0">
                    <li>12 Rue Thierry Verdier</li>
                    <li>75000 Paris</li>
                    <li>01 49 38 57 39</li>
                    <li><a href="mailto: barbershop@gmail.com" class="text-light text-decoration-none">barbershop@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>