<section id="header" class="col-md-12 mx-auto">
    <div class="header-container d-flex col-md-10 mx-auto justify-content-between">
        <a href="{{ path('app_home') }}" class="logo col-md-3">
            <div class="logo-background" style="background: url('{{ asset('assets/images/logo.png') }}')"></div>
        </a>
        <div class="navbar col-md-6">
            <ul class="d-flex justify-content-around nav col-md-12 px-4">
                <li class="homepage text-uppercase">
                    <a href="{{ path('app_home') }}" class="text-decoration-none text-dark">Accueil</a>
                </li>
                <li class="salon text-uppercase">
                    <a href="#!" class="text-decoration-none text-dark">Le salon</a>
                </li>
                <li class="prestation text-uppercase">
                    <a href="#!" class="text-decoration-none text-dark">Prestations</a>
                </li>
                <li class="realisation text-uppercase">
                    <a href="#!" class="text-decoration-none text-dark">Réalisations</a>
                </li>
                <li class="contact text-uppercase">
                    <a href="#!" class="text-decoration-none text-dark">Contact</a>
                </li>
            </ul>
        </div>
        <div class="social-network d-flex col-md-3 justify-content-end align-items-center">
            <div class="social-network-contact d-flex me-3">
                <a href="https://facebook.fr/" target="_blank" class="facebook me-3 btn p-1">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://instagram.fr/" target="_blank" class="instagram btn p-1 me-2">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <a href="{{ path('app_register') }}" class="booking-btn btn btn-primary">
                Se connecter
            </a>
        </div>
    </div>
</section>