{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <form method="post">

        <section id="login" class="col-md-10 mx-auto mb-5 pb-5 text-light d-flex flex-column align-items-center">
            <label for="inputEmail" class="mt-5 mb-2">Email</label>
            <input type="email" name="email" id="inputEmail" class="form-control" style="max-width: 300px"
                   autocomplete="email" required autofocus placeholder="Votre email">

            <button class="btn btn-md btn-primary mt-4 mb-4" type="submit">
                Envoyer
            </button>
            <a href="{{ path('app_login') }}" class="text-light" style="font-size: small">Annuler</a>
        </section>
    </form>
{% endblock %}

