{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block body %}

    <div id="calendar" class="col-md-11 mx-auto p-5 my-5" style="background-color: mintcream"></div>

{% endblock %}



