/******************** GENERAL ********************/

@font-face {
    font-family: "Louis George Cafe";
    src: url("../police/louis_george_caf/Louis George Cafe.ttf");
}

body {
    font-family: "Louis George Cafe", sans-serif;

    background-color: #181818;
}


/******************** HEADER ********************/

#blank-space {

    display: none;
}

#header > .header-responsive {

    display: none;
}

#header {

    background-color: white;
}

#header > .header-container {

    height: 100px;
}

#header > .header-container > .logo > .logo-background {

    min-height: 100px;
    max-width: 200px;

    background-position: 0 -47px !important;
    background-size: cover !important;
}

#header > .header-container > .navbar > .nav {

    color: #707070;

    font-size: 14px;
}

#header > .header-container > .social-network > .social-network-contact > a {

    font-size: 22px;
}


/******************** FOOTER ********************/

.list {

    list-style: none;
}

#footer-container .contact-container {

    background-color: rgba(0, 0, 0, 0.8);
}

#logo-footer-responsive {

    display: none;
}

#logo-footer-desktop {

    display: block;
}

/******************** RESPONSIVE ********************/

/**** HEADER ****/

@media only screen and (max-width: 768px) {

    #blank-space {

        display: block;
    }

    #header > .header-container {

        display: none !important;
    }

    #header > .header-responsive {

        display: flex;
        justify-content: space-between;

        height: 80px;
    }

    #header > .header-responsive > .logo-responsive > .logo > .logo-background {

        background-size: cover !important;
        background-position: 0 -40px !important;

        min-width: 170px;
        min-height: 100px;
    }



    /**** FOOTER ****/

    #logo-footer-responsive {

        display: flex;
        justify-content: center;
    }

    #logo-footer-desktop {

        display: none;
    }

    #footer-container > .footer-contact > .contact-container {

        justify-content: center !important;
    }

    #footer-container > .footer-contact > .contact-container > .about-contact {

        margin-left: 0 !important;
    }

    }