/******************** HOMEPAGE ********************/

#homepage-picture > .smoke-effect {

    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.6);

    z-index: 2;
}

#homepage-picture > .slogan {

    position: relative;
    z-index: 3;
    color: white;
    letter-spacing: 10px;
    font-weight: bold;
}

#homepage-picture > .homepage-rdv {

    z-index: 4;

    background-color: rgba(197, 157, 95, 0);

    border: 2px solid #C59D5F;
    border-radius: 0;

    letter-spacing: 5px;

    color: white;

    text-decoration: none;

    padding: 10px 15px 10px 15px;

    transition: letter-spacing 200ms;
}

/******************** HOMEPAGE PRESTATIONS ********************/

#smoke-graduade-effect {

    position: absolute;

    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);

    height: 100%;
    width: 100%;

    z-index: 3 !important;
}

#prestations > .prestations-container > div {

    width: 250px;
    height: 250px;

    position: relative;

    background-size: cover;
}

#prestations > .prestations-container > div > div {

    z-index: 4;
}

#prestations > .prestations-container > .homepage-separator {

    width: 1px;
    height: 120px;
}

#prestations > .prestations-container > .children-container {

    background-size: initial !important;
    background-position: -60px 0;
}

/******************** HOMEPAGE ACHIEVEMENTS BTN ********************/

#our-achievements > .see-achievements-btn {

    z-index: 4;

    background-color: rgba(197, 157, 95, 0);

    border: 2px solid #C59D5F;
    border-radius: 0;

    letter-spacing: 5px;

    color: white;

    text-decoration: none;

    padding: 10px 15px 10px 15px;

    transition: letter-spacing 200ms;
}