{% extends 'base.html.twig' %}

{% block title %}Prendre rendez-vous{% endblock %}

{% block body %}

    <section id="add-booking" class="text-light col-md-4 mx-auto mb-5 mt-4 pt-2 pb-5">

        {{ form_start(form) }}

        {{ form_row(form.title) }}

        {{ form_row(form.start) }}

        {{ form_end(form) }}

    </section>

{% endblock %}
